.App {
    min-height: 100vh;
    background-color: #031427;
    color: #fff;
    padding-top: 20px;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}

.count {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 15px;
}
